@media all and (max-width: 1170px) {
    header {
        background: url('../img/man-2.jpg') no-repeat;
        height: 70vh;
        background-size: cover;
        background-position: center;
    }
    
    #text {
        top: 20%;
        right: 0px;
        margin-right: 20px;
    }
}

@media all and (max-width: 992px) {
    header {
        background: url('../img/man-1.jpg') no-repeat;
        height: 50vh;
        background-size: cover;
        background-position: center;
    }
    
    #text {
        color: black;
        margin: 0;
        width: 100%;
        text-align: center;
        top: 65%;
    }
}